<!DOCTYPE html>
<html>
  <head>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>{%block title%}{% endblock%}</title>
    <body>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="/assets/logo.jpg"
              alt="FF"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
            <font style="color: blue">Inovation</font>
          </a>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Home</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- CSS Styles -->
          <style>
            .speech {
              border: 1px solid #ddd;
              width: 300px;
              padding: 0;
              margin: 0;
            }
            .speech input {
              border: 0;
              width: 240px;
              display: inline-block;
              height: 30px;
            }
            .speech img {
              float: right;
              width: 40px;
            }
          </style>

          <!-- Search Form -->
          <form id="labnol" action="{{ url_for('homepage') }}" method="POST">
            <div class="speech">
              <input type="text" name="q" id="transcript" placeholder="Speak" />
              <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
            </div>
          </form>

          <!-- HTML5 Speech Recognition API -->
          <script>
            function startDictation() {
              if (window.hasOwnProperty("webkitSpeechRecognition")) {
                var recognition = new webkitSpeechRecognition();

                recognition.continuous = false;
                recognition.interimResults = false;

                recognition.lang = "en-US";
                recognition.start();

                recognition.onresult = function (e) {
                  console.log(e.results);
                  document.getElementById("transcript").value =
                    e.results[0][0].transcript;
                  recognition.stop();
                  document.getElementById("labnol").submit();
                };

                recognition.onerror = function (e) {
                  recognition.stop();
                };
              }
            }
          </script>
        </div>
      </nav>

      <h1>Welcome</h1>
      <h3>If you are seeing a Blind person using this website, kindly help them to navigate. Our website can only do so much as of now, but with your help even the blind can see and learn.</h3>

      <div id="summary_text">
          {{ data }}
        </h4>
      </div>
      <img src onerror='speak()'>

      <script type="text/javascript">
        function speak() {
          var msg = new SpeechSynthesisUtterance('No warning should arise');
          msg.text = '{{ data }}';
          window.speechSynthesis.speak(msg);

          let r = setInterval(() => {
          console.log(speechSynthesis.speaking);
          console.log("speaking");
          if (!speechSynthesis.speaking) {
            clearInterval(r);
          } else {
            speechSynthesis.pause();
            speechSynthesis.resume();
          }
        }, 14000);
        }
      </script>

      <!-- JavaScript Bundle with Popper -->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
    </body>
  </head>
</html>
