<!DOCTYPE html>
<html>
  <head>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>{%block title%}{% endblock%}</title>
    <body>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="/assets/logo.jpg"
              alt="FF"
              width="30"
              height="24"
              class="d-inline-block align-text-top"
            />
            <font style="color: blue">Inovation</font>
          </a>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Home</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  More
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Subscriptions</a></li>
                  <li><a class="dropdown-item" href="#">Facilities</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
              </li>
            </ul>

            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </div>
        </div>
      </nav>

      <style>
        .speech {
          border: 1px solid #ddd;
          width: 300px;
          padding: 0;
          margin: 0;
        }
        .speech input {
          border: 0;
          width: 240px;
          display: inline-block;
          height: 30px;
        }
        .speech img {
          float: right;
          width: 40px;
        }
      </style>

      <h1>Welcome</h1>
      {%block content%} {% endblock %}
      <!-- JavaScript Bundle with Popper -->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
      <style>
        .speech {
          border: 1px solid #ddd;
          width: 300px;
          padding: 0;
          margin: 0;
        }

        .speech input {
          border: 0;
          width: 240px;
          display: inline-block;
          height: 30px;
          font-size: 14px;
        }

        .speech img {
          float: right;
          width: 40px;
        }
      </style>

      <form id="labnol" method="get" action="http://www.labnol.org">
        <div class="speech">
          <input
            type="text"
            name="s"
            id="transcript"
            placeholder="Say Something"
          />
          <img
            onclick="startDictation()"
            src="https://i.imgur.com/cHidSVu.gif"
          />
        </div>
      </form>

      <script>
        function startDictation() {
          if (window.hasOwnProperty("webkitSpeechRecognition")) {
            var recognition = new webkitSpeechRecognition();

            recognition.continuous = false;
            recognition.interimResults = false;
            recognition.lang = "en-US";
            recognition.start();

            recognition.onresult = function (e) {
              document.getElementById("transcript").value =
                e.results[0][0].transcript;
              recognition.stop();
              document.getElementById("labnol").submit();
            };
            recognition.onerror = function (e) {
              recognition.stop();
            };
          }
        }
      </script>
    </body>
  </head>
</html>
